.msger-chat {
  flex: 1;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.msger-chatt-scrollbar {
  display: none;
}
.msg {
  height: 100%;
  max-width: 300px;
  min-width: 100px;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-bubble {
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.msg-text {
  /* width: 280px; */
  /* min-width: min-content; */
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  min-height: min-content;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: #579ffb;
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

/* msg input */
.msg-inputarea {
  width: 100%;
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.msg-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
.msg-input {
  flex: 1;
  background: transparent;
  outline: none;
  color: #fff;
}
