.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff; /* Example text color */
  padding: 20px 40px;
  border-bottom: 1px solid #fff;
  width: 80%;
}

.logo {
  font-size: 24px; /* Example font size */
}

.nav-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.username-in-navbar {
  font-size: 20px; /* Example font weight */
}
